{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <style>
      
        body {
          background-color: #f2f2f2; /* Replace with the shade of gray you want */
        }
      
        .form-group label {
          font-size: 14px;
        }
      
        .form-group input {
          font-size: 12px;
        }
      
        .btn {
          font-size: 14px;
        }
        
        .register-container {
          width: 600px;
          height: 500px;
          background-color: white;
          margin: 0 auto;
          margin-top: 100px;
          padding: 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        
        .register-container input {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        .register-container button {
            margin-left: 130px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
     
        .game-card {
            display: flex; /* Usa il layout di flessbox */
            border: 1px solid #a03030;
            padding: 10px;
            margin-bottom: 20px;
            max-width: 1000px;
        }

        .game-card img {
            max-width: 300px;
            height: auto;
            margin-right: 10px; /* Aggiunge uno spazio tra l'immagine e il testo */
        }

        .game-card-info {
            flex-grow: 1; /* Fai espandere il testo per occupare lo spazio rimanente */
            text-align: left; /* Allinea il testo a sinistra */
        }

        .game-card h1 {
            font-size: 1.5em;
            margin-bottom: 5px;
        }
        .player-profile {
            display: flex;
            align-items: center;
            margin: 20px;
          }
          
          .player-image img {
            max-width: 150px;
            border-radius: 50%;
          }
          
          .no-image {
            font-style: italic;
            color: #999;
          }
          
          .player-details {
            margin-left: 20px;
          }
          
          .player-details ul {
            list-style: none;
            padding: 0;
          }
          
          .player-details ul li {
            margin-bottom: 10px;
            font-size: 1.2em;
          }
    </style>
{% endblock %}