<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%load static%}
    <link rel="stylesheet" type="text/css" href='{% static "css/homez_style.css" %}'>
    
    {% block head %}
    {% endblock %}

    
    <title>{% block title %} {% endblock %}</title>
</head>

{% block navbar %}
  
{% endblock %}
<body>
    
   
    
   

{% block content %}

{% endblock %}
</body>
</html>
