{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href='{% static "css/homez_style.css" %}'>
{% endblock %}

{% block title %}
    Your Page Title
{% endblock %}

{% block content %}
<style>
    body {
        background-image: url('{% static "images/bkg2.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin:50px;
    }
</style>
    <div class="navbar">
        <a href="login">Login</a>
        <a href="registerP">Register</a>
        <a href="registerPu">Register Publisher</a>
        <a href="info">Info</a>
        
    </div>

    <img id="mainImage" src="{% static 'images/titlePixel.png' %}" alt="Logo" height="120">

    <div class="button-container">
        <button onclick="window.location.href='/gestione/addGames'">Search games</button>
        <button onclick="window.location.href='/gestione/playersPage'">Search player</button>
        <button onclick="window.location.href='/gestione/publishersPage'">Search publisher</button>


       
    </div>
    
    
{% endblock %}