{% extends 'basenav.html' %}


{% block head %}


{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stile.css' %}">

<div class="search-bar">
    <form method="post" action="/gestione/filterGamebyName/">
        {% csrf_token %}
        <div class="filter-item">
        <label for="game_name"><h2>Game Name:</h2></label>
        <input type="text" id="game_name" name="game_name">
        <script>
            document.getElementById('game_name').addEventListener('input', function() {
                var input = this.value.toLowerCase();
                var suggestionsDiv = document.getElementById('suggestions');
                var suggestions = []; // Esempio di suggerimenti
                
                
                {% for game in games %}
                    suggestions.push("{{ game.titolo }}");
                {% endfor %}
                
                // Rimuovi suggerimenti precedenti
                while (suggestionsDiv.firstChild) {
                    suggestionsDiv.removeChild(suggestionsDiv.firstChild);
                }
            
                // Mostra suggerimenti
                suggestions.forEach(function(suggestion) {
                    if (suggestion.toLowerCase().indexOf(input) !== -1) {
                        var suggestionElement = document.createElement('div');
                        suggestionElement.textContent = suggestion;
                        suggestionElement.addEventListener('click', function() {
                            document.getElementById('game_name').value = suggestion;
                            suggestionsDiv.style.display = 'none';
                        });
                        suggestionsDiv.appendChild(suggestionElement);
                    }
                });
            
                if (input === '') {
                    suggestionsDiv.style.display = 'none';
                } else {
                    suggestionsDiv.style.display = 'block';
                }
            });
        
        
        </script>
        <button type="submit">Vai</button>
        <div id="suggestions"></div>
        </div>
    </form>
    <div class="green-strip">
        <div class="dropdown">
        <button class="dropbtn" onclick="window.location.href='/gestione/'">Game Critics</button>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Ordina per</button>
            <div class="dropdown-content">
                <a>
                    <form id="filter-form" method="post" action="/gestione/filterGamesbyRate/">
                    {% csrf_token %}
                    <input type="hidden" name="sort_by" value="rating">
                    <button class="invisible-button"type="submit">highest rating</button>
                    </form>
                </a>
                <a>
                    <form id="filter-form" method="post" action="/gestione/filterGamesbyRate/">
                    {% csrf_token %}
                    <input type="hidden" name="sort_by" value="priceA">
                    <button class="invisible-button" type="submit">price:low to high</button>
                    </form>
                </a>
                <a>
                    <form id="filter-form" method="post" action="/gestione/filterGamesbyRate/">
                    {% csrf_token %}
                    <input type="hidden" name="sort_by" value="priceD">
                    <button class="invisible-button" type="submit">price:high to low</button>
                    </form>
                </a>
                <a>
                    <form id="filter-form" method="post" action="/gestione/filterGamesbyRate/">
                    {% csrf_token %}
                    <input type="hidden" name="sort_by" value="added">
                    <button class="invisible-button" type="submit">added</button>
                    </form>
                </a>
                
            </div>
        </div>
    </div>
    

    
   
</div>
</div>



<div class="container">
        
    <div class="filter-menu">
        <!-- Aggiungi qui i tuoi filtri -->
        <form id="filter-form" method="post" action="/gestione/filterGames/">
            {% csrf_token %}
            <div class="filter-item">
                <h2>Price Range</h2>
                <label for="min_price">Min Price:</label>
                <input type="number" id="min_price" name="min_price" min="0"><br><br>
                <label for="max_price">Max Price:</label>
                <input type="number" id="max_price" name="max_price" min="0">
                <p id="price-error" style="color: red; font-size: 12px; display: none;">Il prezzo massimo deve essere maggiore o uguale al prezzo minimo.</p>
            </div>
            <button type="submit">Vai</button>


            
        
        
       

        
            {% csrf_token %}
            
            <div class="filter-item">
                <h2>Console</h2>
                <select id="console-filter" name="console-filter">
                    {% for value, label in console_choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                
                
            </select>
        </div>
        <button type="submit">Vai</button>
        

        
            {% csrf_token %}
            
            <div class="filter-item">
                <h2>Category</h2>
                <select id="category-filter" name="category-filter">
                    {% for value, label in category_choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                
                
            </select>
        </div>
        <button type="submit">Vai</button>

        {% csrf_token %}
            <div class="filter-item">
                <h2>publisher</h2>
                <select id="pub-filter" name="pub-filter">
                    <option value="all">all</option>
                    {% for pub in p %}
                    <option value="{{ pub.name }}">{{ pub.name }}</option>
                    {% endfor %}
                
                
            </select>
        </div>
        <button type="submit">Vai</button>
        </form>

    

    </div>



    
        <div class="column">
            {% for game in games %}
                
                
                    <div class="game-card">
                        <img src="{{ game.pict.url }}" alt="{{ game.titolo }}">
                        <div class="game-card-info">
                            <h1>{{ game.titolo }}</h1>
                            <p>Category: {{ game.category }}</p>
                            <p>Price: {{ game.price }}</p>
                            <div class="rating-circle" id="rating_circle_{{ game.id }}">
                                <div class="rating-value"></div>
                            </div>
                            <form method="get" action="/gestione/view_game_details/{{game.id}}">
                                <button type="submit">View</button>
                            </form>


                        </div>
                    </div>
                    <script>
                        var plot = {{ game.average_plot_rating }};
                        var perf = {{ game.average_performance_rating }};
                        var music = {{ game.average_music_rating }};
                        var gameplay = {{ game.average_gameplay_rating }};
                        var totalRating = (plot + perf + music + gameplay) / 4;
                        
                        var ratingCircle = document.getElementById('rating_circle_{{ game.id }}');
                        var ratingValue = totalRating.toFixed(2);

                        var hue = (totalRating / 5) * 120;  // Scala il valore massimo a 120 (massimo per hsl)
    
                        ratingCircle.style.backgroundColor = `hsl(${hue}, 50%, 70%)`;
                        ratingCircle.querySelector('.rating-value').textContent = ratingValue;
                    </script>
            {% endfor %}
        </div>
    
    </div>

    

{% endblock %}

<script>
document.addEventListener('DOMContentLoaded', function() {
        // Tuo codice JavaScript qui
    document.getElementById('max-price').addEventListener('input', function() {
        var minPrice = parseFloat(document.getElementById('min-price').value);
        var maxPrice = parseFloat(this.value);

        if (maxPrice < minPrice) {
            document.getElementById('price-error').style.display = 'block';
        } else {
            document.getElementById('price-error').style.display = 'none';
        }
    });
    
    
});


</script>