{% extends 'basebs.html' %}

{% block content %}
<style>
.register-container {
    width: 1000px;
    height: 800px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
<div class="register-container">
    <h1>Game Registration</h1>
    <form method="post" enctype="multipart/form-data" action="/gestione/gameReg/">
        {% csrf_token %}

        <label for="titolo">Title:</label>
        <input type="text" id="titolo" name="titolo" required><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required><br>

        <label for="age">Recommended age: </label>
        <input type="number" id="age" name="age" required><br>

        <label for="category">Category:</label>
        <select id="category" name="category" required>
            {% for value, label in category_choices %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select><br>

        <label for="console">Console:</label>
        <select id="console" name="console" required>
            {% for value, label in console_choices %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select><br>
        

        <label for="pict">Picture:</label>
        <input type="file" id="pict" name="pict" accept="image/*" required><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br>

        <label for="images">optional Images (up to 10):</label>
        <input type="file" id="images" name="images" accept="image/*" multiple required><br>
        
        <input type="submit" value="Register" onclick="okRegister()">

        
  <script>
    {% if registrazione_avvenuta %}
    var conferma = window.confirm("game successfully registered");
    window.location.href = "/gestione/publisherHome";
{% endif %}
</script>
    </form>
</div>
{% endblock %}