{% extends 'basenav.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/gamestyle.css' %}">

    

    <div class="row">
        
        <div class="game-card">
            <img src="{{ game.pict.url }}" alt="{{ game.titolo }}">
            <div class="game-details">
                <div class="game-title"><h1>{{ game.titolo }}</h1></div>
                <p>by <a href="/gestione/publisherProfile/{{game.publisher.id}}">{{game.publisher.name}}</a></p>
                <p>Category: {{ game.category }}</p>
                <p>Price: {{ game.price }}</p>
                <p>Recommended age: {{ game.age }}</p>
                <p>{{ game.description }}</p>
                <p>This game was added by {{n}} players </p>
                <div class="button-container">
            {%if player%}
                    {% if game in player.games.all %}
                        
                        {% if reviewed %}
                            
                            <form method="get" action="/gestione/modifyReview/{{reviewed.id}}">
                            <input type="hidden" name="action" value="modify">
                            <button>Modify review</button>
                            </form>
                            <form method="get" action="/gestione/deleteReview/{{reviewed.id}}">
                                <input type="hidden" name="action" value="delete">
                                <button>Delete review</button>
                            </form>
                            
                           
                        {%else%}

                            <form method="get" action="/gestione/reviewGame/{{game.id}}">
                            <button class="review-button" type="submit" name="review_game">Make a Review</button>
                            </form>
                            

                        {% endif %}
                    {% else %}
                            <p>You need to add this game before making a review.</p>
                    {% endif %}

                <form method="post" enctype="multipart/form-data" action="/gestione/addRemoveGame/">
                    {% csrf_token %}
                    {% if game in player.games.all %}
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                    <button class="review-button" type="submit">Delete</button>
                    {%else%}
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                    <button class="review-button" type="submit">Add</button>
                    {%endif%}
                </form>
            {%endif%}
            </div>
            </div>
        </div>
    </div>

    
   

    {% for review in reviews %}
    <div class="review">
        Review for {{ review.game.titolo }} by <a href="/gestione/playerProfile/{{review.player.id}}">{{ review.player.user.username }}</a>    <div class="dropdown">
            
            <div class="button-container">
            <button class="review-button">sort by</button></div>
            <div class="dropdown-content">
                <a>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sort_by" value="asc">
                        <button class="invisible-button" type="submit">Lowest Rating</button>
                    </form>
                </a>
                <a>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sort_by" value="des">
                        <button class="invisible-button" type="submit">Highest Rating</button>
                    </form>
                </a>
            </div>
       
        </div>
        <p>Plot Rating: 
            <span id="{{ review.player.user.username}}1"></span>
        </p>
        <p>Music Rating: 
            <span id="{{ review.player.user.username}}2"></span>
        </p>
        <p>Gameplay Rating: 
            <span id="{{ review.player.user.username}}3"></span>
        </p>
        <p>Performance Rating: 
            <span id="{{ review.player.user.username}}4"></span>
        </p>
        <p>Comment: {{ review.comment }}</p>
    </div>
    <script>
        function generateStars(rating, elementId) {
            let stars = '';
            let wholeStars = Math.floor(rating);
            let halfStar = rating - wholeStars >= 0.5;

            for (let i = 1; i <= 5; i++) {
                if (i <= wholeStars) {
                    stars += '⭐';
                } else if (halfStar && i === wholeStars + 1) {
                    stars += '⭐';
                } else {
                    stars += ' ';
                }
            }

            document.getElementById(elementId).innerHTML = stars;
        }

        generateStars({{ review.plot_rating }}, '{{ review.player.user.username}}1');
        generateStars({{ review.music_rating }}, '{{ review.player.user.username}}2');
        generateStars({{ review.gameplay_rating }}, '{{ review.player.user.username}}3');
        generateStars({{ review.performance_rating }}, '{{ review.player.user.username}}4');
        
        
    </script>
{% endfor %}

{%if reviews%}
    <div class="controls">
        <button class="review-button" id="prevBtn">Previous</button>
        <button class="review-button" id="nextBtn">Next</button>
    </div>
{% endif %}

<script>
    let currentReview = 0;

    function showReview(index) {
        const reviews = document.querySelectorAll('.review');
        reviews.forEach(review => review.style.display = 'none');
        reviews[index].style.display = 'block';
    }

    function nextReview() {
        if (currentReview < {{ reviews|length }} - 1) {
            currentReview++;
            showReview(currentReview);
        }
    }

    function prevReview() {
        if (currentReview > 0) {
            currentReview--;
            showReview(currentReview);
        }
    }

    document.getElementById('nextBtn').addEventListener('click', nextReview);
    document.getElementById('prevBtn').addEventListener('click', prevReview);

    showReview(currentReview);
</script>

{%if images%}
    <h3> other images</h3>
    {%endif%}
    {%if images%}
<div class="game-card">
    
    
        {% for image in images %}
            <img class="game-image" src="{{ image.image.url }}" alt="{{ game.titolo }} - Image">
        {% endfor %}
</div>  
    <button class="review-button" >Previous</button>
    <button class="review-button" >Next</button>


<script>
    const images = document.querySelectorAll('.game-image');
    const prevButton = document.querySelector('.prev-button');
    const nextButton = document.querySelector('.next-button');
    let currentIndex = 0;

    function showImages(startIndex) {
        images.forEach((image, index) => {
            if (index >= startIndex && index < startIndex + 5) {
                image.style.display = 'block';
            } else {
                image.style.display = 'none';
            }
        });
    }

    prevButton.addEventListener('click', () => {
        if (currentIndex > 0) {
            currentIndex -= 5;
            showImages(currentIndex);
        }
    });

    nextButton.addEventListener('click', () => {
        if (currentIndex < images.length - 5) {
            currentIndex += 5;
            showImages(currentIndex);
        }
    });

    showImages(currentIndex);
</script>

{%endif%}


{%if rec_game %}
    <h2>player who watched {{game.titolo}} also watched this game </h2>
    <div class="game-card">
        <img src="{{ rec_game.pict.url }}" alt="{{ rec_game.titolo }}">
        <div class="game-details">
            <div class="game-title"><h1>{{ rec_game.titolo }}</h1></div>
            <p>by {{rec_game.publisher.name}}</p>
            <p>Category: {{ rec_game.category }}</p>
            <p>Price: {{ rec_game.price }}</p>
            <p>Recommended age: {{ rec_game.age }}</p>
            <p>{{ rec_game.description }}</p>
            <p>This game was added by {{n}} players </p>
            <form method="get" action="/gestione/view_game_details/{{rec_game.id}}">
                <button  class="review-button" type="submit">View</button>
            </form>
        </div>
    </div>
    {%endif%}
    <script>
    {% if added_ok %}
      var conferma = window.confirm("game successfully added");
      window.location.href = "/gestione/view_game_details/{{game.id}}";
    {% endif %}
    {% if del_ok %}
      var conferma = window.confirm("you deleted the game, review won't be deleted if exist");
      window.location.href = "/gestione/view_game_details/{{game.id}}";
    {% endif %}
    </script>

{% endblock %}