{% extends 'base.html' %}

{% block content %}
    <style>
        .game-card {
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            padding: 10px;
        }
        .green-strip {
            background-color: rgba(122,189,102,1);  /* Colore verde in esadecimale */
            height: 50px; /* Altezza della striscia, modifica secondo le tue preferenze */
            width: 100%; /* La striscia occupa tutta la larghezza disponibile */
            display:flex;
            gap: 20px; /* Spazio tra i prodotti */
        }

        .game-card img {
            max-width: 350px;
            height: auto;
            margin-right: 10px; /* Aggiunge spazio tra l'immagine e i dettagli */
        }

        .game-details {
            flex: 1; /* Flessibile in modo da occupare lo spazio disponibile */
        }

        .game-title {
            font-size: 24px;
            margin-bottom: 5px;
        }

        .review-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .review-button:hover {
            background-color: #0056b3;
        }
        .button-container {
            display: flex;
            margin:10px
        }
        .button-container button {
            margin:10px
        }

        .dropdown {
            margin-left:100px
            text-align: right; 
            display: inline-block;
        }
        
        .dropbtn {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .invisible-button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
          
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content a:hover {background-color: #f1f1f1;}
        
        .dropdown:hover .dropdown-content {display: block;}
        
        .dropdown:hover .dropbtn {background-color: #3e8e41;}
    
        
    </style>
    
    <div class="navbar">        
        <button class="dropbtn" onclick="window.location.href='/gestione/addGames'">Game Critics</button>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <div class="row">
        
        <div class="game-card">
            <img src="{{ game.pict.url }}" alt="{{ game.titolo }}">
            <div class="game-details">
                <div class="game-title"><h1>{{ game.titolo }}</h1></div>
                <p>by {{game.publisher.name}}</p>
                <p>Category: {{ game.category }}</p>
                <p>Price: {{ game.price }}</p>
                <p>Recommended age: {{ game.age }}</p>
                <p>{{ game.description }}</p>
                <p>This game was added by {{n}} players </p>
                <div class="button-container">
            {%if player%}
                    {% if game in player.games.all %}
                        
                        {% if reviewed %}
                            
                            <form method="get" action="/gestione/modifyReview/{{reviewed.id}}">
                            <input type="hidden" name="action" value="modify">
                            <button>Modify review</button>
                            </form>
                            <form method="get" action="/gestione/deleteReview/{{reviewed.id}}">
                                <input type="hidden" name="action" value="delete">
                                <button>Delete review</button>
                            </form>
                            
                           
                        {%else%}

                            <form method="get" action="/gestione/reviewGame/{{game.id}}">
                            <button class="review-button" type="submit" name="review_game">Make a Review</button>
                            </form>
                            

                        {% endif %}
                    {% else %}
                            <p>You need to add this game before making a review.</p>
                    {% endif %}

                <form method="post" enctype="multipart/form-data" action="/gestione/addGames/">
                    {% csrf_token %}
                    {% if game in player.games.all %}
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                    <button class="review-button" type="submit">Delete</button>
                    {%else%}
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                    <button class="review-button" type="submit">Add</button>
                    {%endif%}
                </form>
            {%endif%}
            </div>
            </div>
        </div>
    </div>
    
   

    {% for review in reviews %}
    <div class="review">
        Review for {{ review.game.titolo }} by {{ review.player.user.username }}    <div class="dropdown">
            <div class="button-container">
            <button class="review-button">sort by</button></div>
            <div class="dropdown-content">
                <a>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sort_by" value="asc">
                        <button class="invisible-button" type="submit">Lowest Rating</button>
                    </form>
                </a>
                <a>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sort_by" value="des">
                        <button class="invisible-button" type="submit">Highest Rating</button>
                    </form>
                </a>
            </div>
       
        </div>
        <p>Plot Rating: 
            <span id="{{ review.player.user.username}}1"></span>
        </p>
        <p>Music Rating: 
            <span id="{{ review.player.user.username}}2"></span>
        </p>
        <p>Gameplay Rating: 
            <span id="{{ review.player.user.username}}3"></span>
        </p>
        <p>Performance Rating: 
            <span id="{{ review.player.user.username}}4"></span>
        </p>
        <p>Comment: {{ review.comment }}</p>
    </div>
    <script>
        function generateStars(rating, elementId) {
            let stars = '';
            let wholeStars = Math.floor(rating);
            let halfStar = rating - wholeStars >= 0.5;

            for (let i = 1; i <= 5; i++) {
                if (i <= wholeStars) {
                    stars += '⭐';
                } else if (halfStar && i === wholeStars + 1) {
                    stars += '⭐';
                } else {
                    stars += ' ';
                }
            }

            document.getElementById(elementId).innerHTML = stars;
        }

        generateStars({{ review.plot_rating }}, '{{ review.player.user.username}}1');
        generateStars({{ review.music_rating }}, '{{ review.player.user.username}}2');
        generateStars({{ review.gameplay_rating }}, '{{ review.player.user.username}}3');
        generateStars({{ review.performance_rating }}, '{{ review.player.user.username}}4');
        
        
    </script>
{% endfor %}



{%if reviews%}
    <div class="controls">
        <button id="prevBtn">Previous</button>
        <button id="nextBtn">Next</button>
    </div>
{% endif %}

<script>
    let currentReview = 0;

    function showReview(index) {
        const reviews = document.querySelectorAll('.review');
        reviews.forEach(review => review.style.display = 'none');
        reviews[index].style.display = 'block';
    }

    function nextReview() {
        if (currentReview < {{ reviews|length }} - 1) {
            currentReview++;
            showReview(currentReview);
        }
    }

    function prevReview() {
        if (currentReview > 0) {
            currentReview--;
            showReview(currentReview);
        }
    }

    document.getElementById('nextBtn').addEventListener('click', nextReview);
    document.getElementById('prevBtn').addEventListener('click', prevReview);

    showReview(currentReview);
</script>

{%if rec_game %}
    <h2>player who watched {{game.titolo}} also watched this game </h2>
    <div class="game-card">
        <img src="{{ rec_game.pict.url }}" alt="{{ rec_game.titolo }}">
        <div class="game-details">
            <div class="game-title"><h1>{{ rec_game.titolo }}</h1></div>
            <p>by {{rec_game.publisher.name}}</p>
            <p>Category: {{ rec_game.category }}</p>
            <p>Price: {{ rec_game.price }}</p>
            <p>Recommended age: {{ rec_game.age }}</p>
            <p>{{ rec_game.description }}</p>
            <p>This game was added by {{n}} players </p>
            <div class="button-container">
                <button class="review-button" type="submit">View</button>
            </div>
        </div>
    </div>
    {%endif%}

{% endblock %}