{% extends 'base.html' %}

{% block head %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 4;
            display: flex;
            
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
        }
        .container {
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            display: flex;
        }
        .sidebar, .content {
            padding: 20px;
            box-sizing: border-box;
        }
        .sidebar {
            flex: 1;
            background-color: #3b5998;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sidebar button {
            margin-bottom: 10px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #4c69ba;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
        .content {
            flex: 3;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .content img {
            max-height: 300px;
            
            margin-bottom: 20px;
            border-radius: 5px;
        }
    </style>
{%endblock%}
{%block content%}

    <div class="container">
        <div class="sidebar">
            <a href="/gestione/playerProfile/{{player.id}}"><button>Profile</button></a>
            <a href="/gestione/playerEdit"><button>Modify Profile</button></a>
            <a href="/gestione/addGames"><button>search Games</button></a>
            <a href="/gestione/gameRecm"><button>suggested Games</button></a>
            <a href="/gestione/playersPage"><button>search player</button></a>
            <a href="/gestione/publishersPage"><button>search publisher</button></a>
            
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </div>
        <div class="content">
            
                {%for game in games%}
                <img src="{{ game.pict.url }}" alt="{{ game.titolo }}">
                {%endfor%}
            <!-- Aggiungi più immagini secondo necessità -->
        </div>
        
    </div>
    
{%endblock%}