{% extends 'basebs.html' %}
{% block content %}

    <h2>Added Games</h2>
    <div class="row">
        {% for game in games %}
            <div class="col-md-4">
                <div class="game-card">
                    <img src="{{ game.pict.url }}" alt="{{ game.titolo }}">
                    <div class="game-card-info">
                        <h1>{{ game.titolo }}</h1>
                        <p>Category: {{ game.category }}</p>
                        <p>Console: {{ game.console }}</p>
                        <p>Price: {{ game.price }}€</p>
                        <p>Age: {{ game.age }}</p>
                        <p>Description: {{ game.description }}</p>               
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}