{% extends 'basenav.html' %}

{% block head %}
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stile.css' %}">

<div class="search-bar">
    <form method="post" action="/gestione/filterPlayerbyName/">
        {% csrf_token %}
        <div class="filter-item">
        <label for="player_name"><h2>Player Name:</h2></label>
        <input type="text" id="player_name" name="player_name">
        <script>
            document.getElementById('player_name').addEventListener('input', function() {
                var input = this.value.toLowerCase();
                var suggestionsDiv = document.getElementById('suggestions');
                var suggestions = []; 
                
                
                {% for player in players %}
                    suggestions.push("{{ player.user.username }}");
                {% endfor %}
                
                while (suggestionsDiv.firstChild) {
                    suggestionsDiv.removeChild(suggestionsDiv.firstChild);
                }
            
               
                suggestions.forEach(function(suggestion) {
                    if (suggestion.toLowerCase().indexOf(input) !== -1) {
                        var suggestionElement = document.createElement('div');
                        suggestionElement.textContent = suggestion;
                        suggestionElement.addEventListener('click', function() {
                            document.getElementById('player_name').value = suggestion;
                            suggestionsDiv.style.display = 'none';
                        });
                        suggestionsDiv.appendChild(suggestionElement);
                    }
                });
            
                if (input === '') {
                    suggestionsDiv.style.display = 'none';
                } else {
                    suggestionsDiv.style.display = 'block';
                }
            });
        
        
        </script>
        <button type="submit">Vai</button>
        <div id="suggestions"></div>
        </div>
    </form>
    <div class="green-strip">
        <div class="dropdown">
        <button class="dropbtn" onclick="window.location.href='/gestione/'">Game Critics</button>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Ordina per</button>
            <div class="dropdown-content">
                <a>
                    <form id="filter-form" method="post" action="/gestione/playersPage/">
                    {% csrf_token %}
                    <input type="hidden" name="sort_by" value="name">
                    <button class="invisible-button"type="submit">name</button>
                    </form>
                </a>
                <a>
                    <form id="filter-form" method="post" action="/gestione/playersPage/">
                    {% csrf_token %}
                    <input type="hidden" name="sort_by" value="similar">
                    {%if is_pub%}
                    <button class="invisible-button" type="submit">added games</button>
                    {%else%}
                    <button class="invisible-button" type="submit">similar games</button>
                    {%endif%}
                    </form>
                </a>
                
                
            </div>
        </div>
    </div>
    

    
   
</div>
</div>



<div class="container">
        
    



    
        <div class="column">
            {% for player, count in players.items %}
                    <div class="game-card">
                        <img src="{{ player.pict.url }}" alt="{{ player.user.username }}">
                        <div class="game-card-info">
                            <h1>{{ player.user.username }}</h1>
                            <p>name: {{ player.name }}</p>
                            <p>surname: {{ player.surname }}</p>
                            {%if is_pub%}
                            <p> this player added {{count}} of your game/s </p>
                            {%else%}
                            {%if count > 0%}
                            <p>you have {{count}} game/s in common</p>
                            {%endif%}
                            {%endif%}
                            
                            
                            <form method="get" action="/gestione/playerProfile/{{player.id}}">
                                <button type="submit">View</button>
                            </form>

                        </div>
                    </div>
                    
            {% endfor %}
        </div>
        
    </div>

    

{% endblock %}