{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stile.css' %}">

<div class="search-bar">
    <form method="post" action="/gestione/filterPlayerbyName/">
        {% csrf_token %}
        <div class="filter-item">
        <label for="player_name"><h2>Publisher Name:</h2></label>
        <input type="text" id="player_name" name="player_name">
        <script>
            document.getElementById('player_name').addEventListener('input', function() {
                var input = this.value.toLowerCase();
                var suggestionsDiv = document.getElementById('suggestions');
                var suggestions = []; // Esempio di suggerimenti
                
                
                {% for player in players %}
                    suggestions.push("{{ player.user.username }}");
                {% endfor %}
                
                // Rimuovi suggerimenti precedenti
                while (suggestionsDiv.firstChild) {
                    suggestionsDiv.removeChild(suggestionsDiv.firstChild);
                }
            
                // Mostra suggerimenti
                suggestions.forEach(function(suggestion) {
                    if (suggestion.toLowerCase().indexOf(input) !== -1) {
                        var suggestionElement = document.createElement('div');
                        suggestionElement.textContent = suggestion;
                        suggestionElement.addEventListener('click', function() {
                            document.getElementById('player_name').value = suggestion;
                            suggestionsDiv.style.display = 'none';
                        });
                        suggestionsDiv.appendChild(suggestionElement);
                    }
                });
            
                if (input === '') {
                    suggestionsDiv.style.display = 'none';
                } else {
                    suggestionsDiv.style.display = 'block';
                }
            });
        
        
        </script>
        <button type="submit">Vai</button>
        <div id="suggestions"></div>
        </div>
    </form>
    <div class="green-strip">
        <div class="dropdown">
            <button class="dropbtn" onclick="window.location.href='/gestione/'">Game Critics</button>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Ordina per</button>
            <div class="dropdown-content">
                <a>
                    <form id="filter-form" method="post" action="/gestione/publishersPage/">
                    {% csrf_token %}
                    <input type="hidden" name="sort_by" value="name">
                    <button class="invisible-button"type="submit">name</button>
                    </form>
                </a>
                {%if is_an%}
                {%else%}
                <a>
                    <form id="filter-form" method="post" action="/gestione/publishersPage/">
                    {% csrf_token %}
                    <input type="hidden" name="sort_by" value="similar">
                    <button class="invisible-button" type="submit">added games</button>
                    </form>
                </a>
                {%endif%}
                
                
            </div>
        </div>
    </div>
    

    
   
</div>
</div>



<div class="container">

    <div class="column">
        {% for publisher, common_games_count in publisher_game.items %}
            
            
                <div class="game-card">
                    <img src="{{ publisher.pict.url }}" alt="{{ publisher.user.username }}">
                    <div class="game-card-info">
                        <h1>{{ publisher.name }}</h1>
                        <p>Website: {{ publisher.website }}</p>
                        <p>Added Games: {{ common_games_count }}</p>
                        <form method="get" action="/gestione/publisherProfile/{{publisher.id}}">
                            <button type="submit">View</button>
                        </form>


                    </div>
                </div>
                
        {% endfor %}
    </div>
        
    


        
    </div>

    

{% endblock %}