{% extends 'base.html' %}

{% block content %}
<div class="registration-container">
    <h1>Publisher Registration</h1>
    <form method="post" enctype="multipart/form-data" action="/gestione/publisherReg/">
        {% csrf_token %}

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="website">Website:</label>
        <input type="url" id="website" name="website" required><br>

        <label for="pict">Profile Picture:</label>
        <input type="file" id="pict" name="pict" accept="image/*" required><br>

        <input type="submit" value="Registrati" onclick="okRegister()">

        
        <script>
          {% if registrazione_avvenuta %}
          var conferma = window.confirm("publisher successfully registered");
          window.location.href = "/gestione/publisherHome";
        {% endif %}
        
      </script>
        
    </form>
    {% if error_message %}
          <div style="color: red;">{{ error_message }}</div>
        {% endif %}
</div>
{% endblock %}